<!DOCTYPE html>
<html>
<head>
    <title>Important Account Notification</title>
</head>
<body>
    <p>Dear User,</p>
    <p>We have detected unusual activity in your account. Please verify your account immediately to avoid suspension.</p>
    <p>
        <a href="http://127.0.0.1:5000/track_click?email=test@example.com">Click here to verify your account</a>
    </p>
    <p>Thank you,<br>IT Security Team</p>
    <img src="http://localhost:5000/open_pixel?email=target@example.com" width="1" height="1" style="display:none;">

</body>
</html>
